body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  margin: 10px 0px;
}

.posiciones {
  width: 1400px;
  height: auto;
}

.result-p {
  color: green;
}

.result-n {
  color: red;
}
